modules = ["python-3.12", "web", "nodejs-20"]
run = "python manage.py runserver"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python manage.py runserver"]

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

[auth]
pageEnabled = false
buttonEnabled = false
