asgiref==3.8.1
async-timeout==4.0.3
crispy-bootstrap5==2024.2
Django==5.1
django-crispy-forms==2.3
django-environ==0.11.2
django-redis==5.4.0
psycopg2-binary==2.9.9
pycountry==24.6.1
redis==5.0.8
sqlparse==0.5.1
typing_extensions==4.12.2
