{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<main class="container h-100 d-flex flex-column justify-content-center">
    <form class="w-25 mx-auto" action={% url "login" %} method="POST">
        <h2 >Login</h2>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-warning alert-dismissible fade show w-75 mx-auto" role="alert">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li><strong>Erreur:</strong> {{ error }}</li>
                        {% endfor %}
                    </ul>
            </div>
        {% endif %}

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Email address:</label>
             {{ form.username }}
        </div>
    
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Password:</label>
            {{ form.password }}
        </div>
    
       
    
        <!-- Submit button -->
        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn bg-color btn-block mb-4">Login</button>
    
        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="{% url "register" %}" class="text-color">Register</a></p>
        </div>
    </form>
</main>
{% endblock content %}